body, html{
  margin: 0;
  width: 100%;
}
h1, h2 {
  font-family: Lato;
}

h1{
  font-size: 80px;
}

#app{

  height: auto;
  
  border: 1px solid black;
}

.cronometro{
margin: 1% 45%;
width: 45%;
}

button{
  width: 15%;
  font-size: 16px;
}
.botao{
  margin: 1% 50%;
  width: 35%;
}